{% assign projects = site.data.data.projects %}
{% if projects %}
<section class="publications">
    <h2 class="title">Posters and Talks</h2>
    <div class="publication-items">
        {% for pub in projects%}
            <div class="publication-item">
                <div class="publication-title">
                    <a href="{{pub.link}}" target="_blank">{{pub.title}}</a>
                </div>
                <div class="authors">{{pub.authors}}</div>
                <div class="conference">{{pub.conference}}</div>   
            </div>
        {%endfor%}
    </div>
</section>
{% endif %}